$vw_fontsize: 75;
$vw_design: 750;

$page_blank: 30;

$title-size1: 40;
$title-size2: 36;
$title-size3: 32;
$title-size4: 28;

$copy-sizenormal: 28;
$copy-sizesmall: 24;

$txt-color1: #333;
$txt-color2: #666;
$txt-color3: #999;


$main-color: #0084ff;
$gray-bg: #f9f9f9;
$gray-border: #eee;

$content-max-width: 768px;


// placeholders
$ph-bg:                   #fff !default;
$ph-color:                #ced4da !default;
$ph-border-radius:        2px !default;

$ph-gutter:               30px !default;
$ph-spacer:               15px !default;

$ph-avatar-border-radius: 50% !default;